:root {
    --brown: #b8907d;
    --white: #f6f4f3;
    --black: #011635;
}

#root {
    background: var(--white);
}

h1 {
    font-weight: bold;
    color: var(--brown);
}

p {
    font-size: 18px;
    text-align: justify;
}

.layout {
    margin-right: 100px;
    margin-left: 100px;
}

.btn-primary {
    background-color: var(--brown);
    border:none;
}

.btn-primary:hover {
    background-color: white;
    color:var(--brown);
    border: 1px solid var(--brown);
}

@media (max-width: 992px) {
    .layout {
        margin-right: 15px !important;
        margin-left: 15px !important;
    }

    #navbar .navbar-brand{
        margin-left: 15px !important;
    }

    #navbar .collapse {
        margin-right: 15px !important;
    }

    #navbar button {
        margin-right: 15px;
    }
}

.box {
    margin-top: 50px;
}

/******** NavBar ********/
#navbar a{
    color: var(--black);
    font-weight: bold;
    font-size: 20px;
}

#navbar .navbar-brand {
    margin-left: 100px;
}

#navbar .collapse {
    margin-right: 100px;
}

#navbar .active {
    color: var(--brown);
}

.withBottom{
    padding-bottom: 0;
    border-bottom: 1px solid var(--brown);
}

#navbar .navbar-nav {
    text-align: center;
}

/******** Main Page ********/
#mainPage {
    margin-bottom: 30px;
}

#mainPage img {
    width: 100%;
    max-height: 200px;
    border-radius: 25px;
}

#mainPage .searchContainer {
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}


#mainPage .centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainPage .buttonIn {
    position: relative;
}

#mainPage #enter {
    width: 100%;
    outline: none;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(184, 144, 125, 0.64);
    padding-left: 15px;
    background: var(--white);
}

#mainPage #clear {
    position: absolute;
    right: 6px;
    border: none;
    background: none;
}

#mainPage #clear svg {
    color: var(--brown);
    font-size: 25px;
}

#mainPage .filtersCol {
    border-right: 1px solid var(--brown);
    margin-top: 50px;
}

#mainPage .form-range {
    width: 80%;
}

#mainPage h2 {
    font-weight: bold;
}

#mainPage .resultsCol {
    padding-left: 70px;
}

@media (max-width: 768px) {
    #mainPage .filtersCol {
        border-right: none !important;
        border-bottom: 1px solid var(--brown);
        margin-top: 20px !important;
        margin-bottom: 30px;
    }

    #mainPage .select {
        margin-bottom: 20px;
    }

    #mainPage .resultsCol {
        padding-left: 0 !important;
    }

    #mainPage .searchContainer {
        margin-bottom: 40px;
    }
}

@media (max-width: 370px) {
    #mainPage img {
        min-height: 60px;
    }
}

#mainPage .form-check {
    margin-bottom: 1rem;
}

#mainPage .form-check-input:checked {
    background-color: var(--brown);
    border-color: var(--brown);
}

#mainPage .form-check-input:focus {
    box-shadow: none;
}

#mainPage button:focus {
    box-shadow: none;
}

#mainPage .css-1s2u09g-control {
    border-color: var(--brown);
}

#mainPage .css-tj5bde-Svg {
    fill: var(--brown);
}

#mainPage .css-1pahdxg-control {
    border-color: var(--brown);
    box-shadow: 0 0 0 1px var(--brown);
}

#mainPage .css-wjh20t-MuiPagination-ul {
    justify-content: right;
}

#mainPage .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: var(--brown);
    color: white;
}

#mainPage .numberOfResults {
    margin-bottom: auto;
    margin-top: auto;
    text-align: right;
    color: var(--brown);
}

/******** Book Card ********/
#bookCard {
    background: rgba(228, 228, 228, 0.28);
    border: 1px solid rgba(184, 144, 125, 0.48);
    border-radius: 9px;
    margin-bottom: 15px;
}

#bookCard a {
    color: var(--black);
    text-decoration: none;
}

#bookCard .card-title {
    font-weight: bold;
}

#bookCard .list-group-item {
    background: none;
    border: none;
}

@media (max-width: 452px) {
    #bookCard svg {
        display: none;
    }
}

/******** Footer ********/
#footer{
    color: white;
    background-color: var(--brown);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 80px;
}

#footer .buttonDiv {
    text-align: right;
}

#footer a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

#footer a:hover {
    color: #5C473E;
}

#footer .active {
    color: #5C473E;
}

@media (max-width: 358px) {
    #footer .buttonDiv, .copyrightsDiv{
        text-align: center !important;
    }
}

/******** Contact Card ********/

#contactCard {
    text-align: center;
    background: rgba(228, 228, 228, 0.28);
    border: 1px solid rgba(184, 144, 125, 0.48);
    border-radius: 9px;
    width: 70%;
    margin-bottom: 10px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto;
}

#contactCard img{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 9px;
}

#contactCard .card-title {
    font-weight: 600;
}

#contactCard a {
    color: var(--black);
}

#contactCard a:hover {
    color: var(--brown);
}

/******** About Us ********/
#aboutPage h1 {
    margin-bottom: 50px;
}

#aboutPage h2 {
    margin-bottom: 20px;
}

#aboutPage .aboutApp {
    margin-bottom: 50px;
}

#aboutPage .aboutTeam {
    margin-bottom: 50px;
}

/******** Ratings Distribution ********/
#ratingDist {
    min-width: 230px;
}

#ratingDist .progress-bar, #ratingDistMobile .progress-bar {
    background-color: var(--brown);
    border-radius: 10px;
}

#ratingDist .progress, #ratingDistMobile .progress {
    border: 1px solid var(--brown);
    border-radius: 10px;
}

#ratingDist .row, #ratingDistMobile .row {
    margin-bottom: 10px !important;
}

#ratingDist .progressBarCol {
    margin-bottom: auto;
    margin-top: auto;
}

#ratingDist .starsCol {
    text-align: right;
    padding-right: 0;
}

#ratingDist .percentageCol {
    padding-left: 0;
}

#ratingDistMobile {
    margin-bottom: 60px;
}

/******** Details Book Card ********/
#detailsCard {
    background: rgba(228, 228, 228, 0.28);
    border: 1px solid rgba(184, 144, 125, 0.48);
    border-radius: 9px;
    margin-bottom: 15px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
}

#detailsCard .card-title {
    text-align: center;
}

#detailsCard .list-group-item {
    background: none;
    border: none;
}

@media (max-width: 385px) {
    #detailsCard {
        width: 100%;
    }
}

/******** Review Card ********/
#reviewCard {
    background: rgba(228, 228, 228, 0.28);
    border: 1px solid rgba(184, 144, 125, 0.48);
    border-radius: 9px;
    margin-bottom: 15px;
}

/******** Book Page ********/
#bookPage .coverHolder {
    text-align: center;
}

#bookPage img {
    width: 60%;
}

#bookPage #notFound {
    width: 40%;
}

#bookPage .bottom-left {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bookPage a {
    text-decoration: none;
    color: var(--black);
}

#bookPage a:hover {
    color: var(--brown);
}

#bookPage .moreDiv {
    text-align: right;
}

#bookPage span {
    color: var(--brown);
    font-weight: bolder;
    cursor: pointer;
}

#bookPage span:hover {
    text-decoration: underline;
}

#bookPage .row {
    margin-bottom: 60px;
}

#bookPage .ratingsDiv {
    text-align: center;
    font-size: 35px;
}

#bookPage .numbersRow {
    font-size: 20px;
}

#bookPage h3 {
    color: var(--brown);
    font-weight: bold;
}

#bookPage .reviewsRow {
    margin-left: 85px;
}

#bookPage hr {
    display: none;
}

#bookPage #ratingDistMobile {
    display: none;
}

@media (max-width: 576px) {
    #bookPage #ratingDist {
        display: none;
    }

    #bookPage #ratingDistMobile {
        display: block;
    }
}

@media (max-width: 768px) {
    #bookPage img {
        width: fit-content;
    }

    #bookPage .moreDiv {
        padding-bottom: 15px;
    }

    #bookPage .firstRow {
        text-align: center;
    }

    #bookPage .reviewsRow {
        margin-left: 10px;
        margin-right: 10px;
    }

    #bookPage hr {
        display: block;
        background-color: var(--brown);
    }

    #bookPage #ratingDist {
        margin-bottom: 60px;
    }
}

/******** Author Card ********/
#authorCard {
    text-align: center;
    border-radius: 9px;
    border-color: var(--brown);
}

#authorCard img{
    opacity: 70%;
}

#authorCard .card-title {
    font-weight: bold;
    font-size: 25px;
}

#authorCard .card-text {
    text-align: center;
    font-weight: bold;
}

#authorCard .card-img-overlay {
    top: unset;
    bottom: 50px;
}

@media (max-width: 576px) {
    #authorCard {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #authorCard .card-img-overlay {
        bottom: 35px;
    }
}

@media (max-width: 643px) and (min-width: 577px) {
    #authorCard .card-img-overlay {
        bottom:15px;
    }

    #authorCard .card-title, #authorCard .card-text{
        font-size: unset;
    }
}

/******** Authors Page ********/
#authorsPage h1 {
    margin-bottom: 50px;
}

/******** Book Cover ********/
#bookCover img {
    width: unset;
    border: 1px solid rgba(184, 144, 125, 0.48);
    border-radius: 9px;
}

@media (max-width: 576px) {
    #bookCover {
        text-align: center;
    }
}

/******** Author Page ********/
#authorPage .moreDiv {
    text-align: right;
}

#authorPage span {
    color: var(--brown);
    font-weight: bolder;
    cursor: pointer;
}

#authorPage span:hover {
    text-decoration: underline;
}

#authorPage .row {
    margin-bottom: 60px;
}

#authorPage .coverHolder {
    text-align: center;
}

#authorPage .coverHolder img {
    width: 60%;
}


#authorPage h3 {
    color: var(--brown);
    font-weight: bold;
}

#authorPage .catalogueRow {
    margin-left: 85px;
}

#authorPage hr {
    display: none;
}

@media (max-width: 768px) {
    #authorPage .coverHolder img {
        width: fit-content;
    }

    #authorPage .moreDiv {
        padding-bottom: 15px;
    }

    #authorPage .firstRow {
        text-align: center;
    }

    #authorPage .catalogueRow {
        margin-left: 10px;
        margin-right: 10px;
    }

    #authorPage hr {
        display: block;
        background-color: var(--brown);
    }
}